body{
    background: linear-gradient(#000000, #020022) ;
    background-attachment: fixed;
}    
#primeirotexto{
    text-align: center;
    color: aliceblue;
    border: 2px solid aliceblue;
    box-shadow: 0 0 10px aliceblue, inset 0 0 10px aliceblue;
}
#formulario{
    text-align: center;
    margin-top: 20px;
}
label{
    color: aliceblue;
    text-shadow: 0 0 2px aliceblue;
}
input{
    border: none;
    background-color: #020022;
    width: 300px;
    height: 50px;
    transition: all 0.3s ease;
    color: aliceblue;
   
}
input::placeholder{
    color: rgba(240, 248, 255, 0.434);
    font-style: italic;
}
input:focus{
    border-color: #060140;
    background-color: #060140;
    outline: none;
    transform:scale(1.05);
    box-shadow: 0 0 10px 2px #020022;
    color: aliceblue;
}
button{
    background-color: #00ddff;
    border: none;
    box-shadow: 0 0 10px #00ddff;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    bottom:hover
}
button:hover{
    background-color: aqua;
    transform: scale(1.1)
}
#voltar{
    font-size: 15px;
    margin-bottom: none;
    margin-top: 30px;
}